

img {
  border-radius: 28px;  /* Adicionar o arredondamento da borda */
  width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
}
body {
  font-family: Arial, sans-serif; /* Fonte legível e moderna */
  margin: 0;
  padding: 20px;
  background-color: #F5F4F0;
}
header {
  text-transform: uppercase; /* força maiúsculas */
  color: #E1624F;            /* cor qualquer, substitua como quiser */
}
.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin-top: 24px;
}